# Ignorar entornos virtuales locales
.venv/
venv/
# Ignorar archivos sensibles
.env
.env.example

# Ignorar datos de MySQL
mysql_data/

# Ignorar compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar bases SQLite locales
*.db
*.sqlite3

# Ignorar logs
*.log

# Ignorar archivos temporales
*.swp
*.tmp

# Ignorar media si no quieres empaquetarla en la imagen
/media/
